<form class="ui stacked segment form" action="/station/{{station.id}}/addreading" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Weather Code</label>
      <input placeholder="Weather Code" type="text" name="weatherCode"
      <label>Temperature</label>
      <label>Wind Speed</label>
      <label>Wind Direction</label>
      <label>Pressure</label>
      
    </div>
  </div>
</form>