<nav class="ui menu">
    <header class="ui header item"><a href="/"> Weather Top <i class="compass outline icon"></i></a></header>
    <div class="right menu">
        <a id="dashboard" class="item" href="/dashboard"> Dashboard <i class="thumbtack icon"></i></a>
        <a id="about" class="item" href="/about"> About <i class="paper plane icon"></i></a>
         <a id="logout" class="item" href="/logout"> Logout </a>
    </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
