{{> menu id="about"}}

<section class="ui inverted center aligned middle aligned segment">
    <h1 class="ui header">
        About Us at WeatherTop Inc.
    </h1>
</section>
<section class="ui grid">
    <div class="ui left aligned segment">
        <p>
            <img class="ui left floated rounded image" src="https://cdn.glitch.global/0bd7d6e2-3030-4dca-9bc2-05040912a1fc/instrument.jpg?v=1662893989691">
            WeatherTop Inc. was founded in 2004 by Walter Top and the company remains in the family today.
            WeatherTop Inc.’s mission has been to rejuvenate the meteorological data collecting sector and
            bring products to market that are accurate and dependable enough for professional use while also
            accessible to hobbyists and newcomers to the field. WeatherTop has recently launched WeatherTop
            1000 and hopes it will be enjoyed by new and loyal customers alike.
        </p>
        <p>
            We operate our factories in Tang, Westmeath and our offices are nearby in Ballymahon, Co. Longford.
            WeatherTop1000 recently created 30 new jobs in the area and WeatherTop hopes to expand the team again.
            If you are interested in a position with us in our customer service, software development, or product
            development teams, please stop by our head office on Main Street, Ballymahon and provide a CV,
            cover letter and contact details to our receptionist.
        </p>
    </div>
    <div class="ui right aligned segment">
        <p>
            <img class="ui right small floated rounded image" src="https://cdn.glitch.global/0bd7d6e2-3030-4dca-9bc2-05040912a1fc/weathervein.jpg?v=1662893967665">
            WeatherTop 1000 is the newest device from the minds at Weather Top Inc. who have developed products
            like the WeatherTop 500 and WeatherTop Original Device. The Weather Top 1000 is the first device
            to have a tailor made web companion application, Weather At Your Fingers, to capture and store
            meteorological data collected. The WeatherTop1000 is available in all good hardware and home
            goods stores and is available for direct purchase on our website "www.WeatherTop.ie".</p>
        <p>
            Our WeatherTop: Weather Watch mobile app is integrated with national forecaster Met Éireann’s
            latest readings to bring country-wide weather updates to your mobile that you can compare
            with your own local readings, which can also be entered into the app from your WeatherTop
            1000 device.</p>
    </div>
</section>