{{> welcomemenu }}
<div class="ui red message">
  <i class="close icon"></i>
  PLEASE LOG IN TO YOUR EXISITNG ACCOUNT OR SIGN UP NOW TO BEGIN
</div>
<section class="ui inverted center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to Weather At Your Fingers 2.0<i class=" small trademark icon"></i>
    </h1>
    <p>
        The web application companion to record your weather readings taken with your WeatherTop1000
    </p>
</section>
<section class="ui grid">
    <section class="ui ten wide column">
        <p>The WeatherTop1000 is the newest modular weather station to the market and it has taken
        the industry by storm! A unique selling point of the new WeatherTop1000
        is its state-of-the-art web application companion, Weather At Your Fingers,
        to record and store all meteorological data collected with your device. </p>
        <p>The WeatherTop1000 reads the latest location, latest temperature in degrees Celsius,
        latest wind speed, latest wind direction and latest pressure. These data recordings
        can be entered into Weather At Your Fingers, our web app companion,for data storage
        and for additional features that will aid your analysis of weather patterns. The data will be
        expanded and translated to include the latest weather condition, latest temperature in
        degrees Fahrenheit, latest wind speed in beaufort conversion, latest direction of wind,
        and the latest wind chill. Members will also be able to see their previous data catalogued
        for data integrity.</p>
    </section>
    <section class="ui blue five wide left floated column">
        <h2>WeatherTop1000 Available Now</h2>
        <p>
            The WeatherTop1000 is available in all good hardware and home goods stores and
            is available for direct purchase on our website "www.WeatherTop.ie". WeatherTop Inc.
            is always looking to reimagine and reinvent how we record, track and predict the weather.
            WeatherTop Inc. is pleased to see WeatherTop1000 reach the market and is grateful
            for the rave reviews. The minds at WeatherTop Inc. are working hard to bring more
            products to market. Watch this space! </p>
        </p>
    </section>
</section>
<section class="ui fifteen centered column grid">
        <div class="five wide column">
            <div class="ui segment">
                <img class="ui large image" src="https://cdn.glitch.global/0bd7d6e2-3030-4dca-9bc2-05040912a1fc/cyclone.jpg?v=1662894031663">
            </div>
        </div>
        <div class="five wide column">
            <div class="ui segment">
                <img class="ui large image" src="https://cdn.glitch.global/0bd7d6e2-3030-4dca-9bc2-05040912a1fc/monitors.jpg?v=1662893985036">
            </div>
        </div>
        <div class="five wide column">
            <div class="ui segment">
                <img class="ui large image" src="https://cdn.glitch.global/0bd7d6e2-3030-4dca-9bc2-05040912a1fc/personinstation.jpg?v=1662893979750">
            </div>
        </div>
        </div>
    </div>
</section>
