{{> welcomemenu id='login' }}

<div class ="ui two column middle aligned grid basic segment">
  <div class="column">
    <form class="ui stacked segment form" action="/authenticate" method="POST">
      <h3 class="ui header">Log-in</h3>
      <div class="field">
        <label>Email</label> <input placeholder="Email" name="email">
      </div>
      <div class="field">
        <label>Password</label> <input type="password"  name="password">
      </div>
      <button class="ui blue submit button">Login</button>
    </form>
</div>
<div class="column">
    <img class="ui image" src="https://cdn.glitch.global/0bd7d6e2-3030-4dca-9bc2-05040912a1fc/weatherpic.jpg?v=1662893973911">
</div>
